instance/*
!instance/.gitignore
.webassets-cache
.env
.deployment
### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
# C extensions
*.so